<div class="callout large primary">
  <div class="row column text-center">
    <h1>Connect With Your Restaurant</h1>
  </div>
</div>



<%@restaurants.each do |restaurant| %>
  <ul>
    <li>
      <div class="blog-post">
        <h3><%= link_to restaurant.name, restaurant%></h3>
        <img class="thumbnail" src="<%= restaurant.image %>" height="350px" width="850px">
        <p><%= restaurant.description %></p>
          <div class="callout">
            <ul class="menu simple">
              <li><%= link_to 'Add a Review', new_restaurant_review_path(restaurant)%></li>
              <li class="number_of_reviews">Comments: <%= restaurant.reviews.length  %></li>
            </ul>
          </div>
      </div>
    </li>
  </ul>
<%end%>
