<h2>New Restaurant Form</h2>
<%= form_for(@restaurant) do |f| %>
    <div class="field">
      <%= f.label :name, "Name" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address, "Address" %><br />
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :city, "City" %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state, "State" %><br />
      <%= f.text_area :state %>
    </div>
    <div class="field">
      <%= f.label :zip, "Zip" %><br />
      <%= f.text_area :zip %>
    </div>
    <div class="field">
      <%= f.label :description, "Description" %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :image, "Image" %><br />
      <%= f.text_field :image %>
    </div>

    <div class="actions">
      <%= f.submit 'Add Restaurant' %>
    </div>
<% end %>
